<!DOCTYPE html>
<html lang="ja">
    <head>
        <meat charset="utf-8">
        <title>ユーザー新規追加画面：CSV</title>
        <Link type="text/css" rel="stylesheet" href="/stylesheets/account.css">
    </head>

    <body>
        <div class="orange">
            <h1>回答即時判断システム：ユーザーの新規追加</h1>
            <hr>
        </div>

        <a>csvファイルでユーザーを追加</a>
        <br><a href="account_additionCSVExplanation">詳しい追加方法はこちら</a>

        <p></p>
        <a>・アップロードするcsvファイルを選択してください。</a>
        <p></p>
        <button>ファイルを選択</button>
        <P></P>
        
        <button>ccount_additionMethod'">戻る</button>
        <button>追加</button>

    </body>
</html>