<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset ="utf-8">
    <title>問題出題</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/mondai2.css">
</head>  
<header>
  <nav>
    <h1 class = "title">問題出題画面</h1>
  </nav>
</header>

<!--ハンバーガー作成-->
<nav class="ham_menu">
  <ul class="ham">
    <li><a href="#">Home</a></li>
    <li><a href="#">Menu</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <button type="button" id="hambtn"></button>
</nav>
<!--ハンバーガー作成-->

<body>
    <script src="/socket.io/socket.io.js"></script>
    <p><%= name %></p>
    <br>
    <form name ="f1">
        <div class="parent">
        <h1>問題一覧</h1>
        <div class="child">
        <input type ="submit" name="tuika" class = "tui"value="問題追加">
        <br>
        <br>
        <input type="submit" name="kakunin"class = "tui2" value="問題確認">
        </div>
        </div>
        <p>問題を選択してください。</p>
        <!--問題名-->
        <select  name = "mo1" class="cp_sl02" required>
           <% web.forEach((list) => { %>
            <option><%= list.question_name %></option> 
            <% }) %>
        </select>
        <span class="cp_sl02_highlight"></span>
        <span class="cp_sl02_selectbar"></span>
        <label class="cp_sl02_selectlabel">問題を選んでください。</label>
        <br>
        <p>回答の正否判定の仕方を選択してください。</p>
        <br>
        <input type="radio" name = "hantei" value="自動">自動
        <input type="radio" name = "hantei" value="手動">手動
        <br>
        <p>制限時間を秒単位で入力してください。</p>
          <input id = "time2" type ="text" name="byou" style="width:40px; height: 20px;">
        <br>
        <br>
        <input type ="submit" class ="button" name = "okuru" value="出題する">
        <br>
    </form>
    <div class="sumple">
      <a href="http://localhost:3000/login">戻る</a>
    </div>
    <script src="/javascripts/mondai2.js"></script>
</body>
</html>
