@charset "UTF-8";
body{
    font-family: Arial,sans-serif;
}
.header {
    background-color: #fd9221;
    padding: 10px;
    text-align: center;
}
.button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    margin: pointer;
}
.search-box {
    padding: pointer;
}
table {
    width: 100%;
    border-collapse:collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f4973b;
}
.radio-button {
    margin-right: 15px;
}

.ellipsis {
    white-space: nowrap; /* 改行を防ぐ */
    overflow: hidden; /* はみ出た内容を非表示 */
    text-overflow: ellipsis; /* 省略符号を表示 */
    max-width: 150px; /* 最大幅を設定（必要に応じて調整） */
    cursor: pointer; /* クリック可能であることを示すカーソル */
}